.fa-github {
  color: black;
  font-size: 24px;
}

.game-board {
  width: 9rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  height: 3rem;
  width: 3rem;
}